<div id="outermostDiv">
  <p>This site was developed by four TalTech students:</p>
  <br/>
  <ul>
    <li>Taavi Meltsas
      <a href="mailto:tamelt@taltech.ee">
      <img src="https://media2.giphy.com/media/hQiDgZQIp5qsh09hOr/giphy.gif" alt="Email" style="width:40px;height:40px;">
    </a></li>
    <li>Johanna Rasu
      <a href="mailto:jorasu@taltech.ee">
        <img src="https://media2.giphy.com/media/hQiDgZQIp5qsh09hOr/giphy.gif" alt="Email" style="width:40px;height:40px;">
      </a>
    </li>
    <li>Tarvo Tali
      <a href="mailto:tatali@taltech.ee">
        <img src="https://media2.giphy.com/media/hQiDgZQIp5qsh09hOr/giphy.gif" alt="Email" style="width:40px;height:40px;">
      </a>
    </li>
    <li>Anti Lilleaed
      <a href="mailto:antlil@taltech.ee">
        <img src="https://media2.giphy.com/media/hQiDgZQIp5qsh09hOr/giphy.gif" alt="Email" style="width:40px;height:40px;">
      </a>
    </li>
  </ul>
</div>
